{#<div class="entry-box">#}
{#  <div class="img-wrapper">#}
{#    <a href="{{ fields.view_node.content|striptags }}">#}
{#      <img src="{{ fields.thumbnail__target_id.content|striptags }}">#}
{#    </a>#}
{#  </div>#}
{#  <h3 class="entry-title">#}
{#    <a href="{{ fields.view_node.content|striptags }}">{{ fields.title.content }}</a>#}
{#  </h3>#}
{#  {% if fields.field_category.content %}#}
{#    <span class="entry-cat consumer">#}
{#      {{ fields.field_category.content }}#}
{#    </span>#}
{#  {% endif %}#}
{#  <span class="entry-date">{{ fields.created.content }}</span>#}
{#</div>#}

<div class="bloglist">
  <h2>{{ fields.title.content }}</h2>
{#  <img class="img-responsive alignleft" src="https://www.disabilitycarecenter.org/wp-content/uploads/newsimage.jpg">#}
  <img class="img-responsive alignleft" src="{{ fields.thumbnail__target_id.content|striptags }}" alt="Post image">
  <p>Article By: Disability Care Center</p>
    {{ fields.body.content }}
</div>
