{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <main style="background:url('{{ paragraph.field_section_1_bg|file_url }}') top left no-repeat fixed; background-size: cover;">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="margin-bottom:25px; padding-top:25px;" id="maincopy" class="col-lg-7 col-md-6 col-sm-12 col-12">

              <h1>{{ nodetitle }}</h1>
              <span class="largerfont">{{ paragraph.field_section_1_text.value|raw }}</span>

            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-12">
              <div class="webform-wrapper">
                <div class="form_heading">
                  <h3 class="form_title">Disability Claim Help</h3>
                  <span class="form_description"></span>
                </div>
                {{ drupal_entity('webform', 'disability_claim_help') }}
              </div>
            </div>
            <p>&nbsp;</p>
          </div>
        </div>

        <!--START DARK BLUE-->

        <div id="blue-grey2">
          <!--BLUE GREY-->
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>{{ paragraph.field_section_2_title.value|raw }}</h2>
            </div>
          </div>
          <!--BLUE GREY-->
        </div>
        <div id="grey2">
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              {{ paragraph.field_section_2_text.value|raw }}
            </div>
          </div>
        </div>
        <!--END DARK BLUE-->

        <!--START SECTION 3-->

        <div id="lightbluetop">
          <!--LightBlue-->
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>{{ paragraph.field_section_3_title.value|raw }}</h2>
            </div>
          </div>
        </div>
        <div id="white" style="margin-bottom:0px; padding-bottom:20px;">
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              {{ paragraph.field_section_3_text.value|raw }}
            </div>
          </div>
        </div>
        <!--END SECTION 3-->

        <!--START SECTION 4-->
        <!--Light Blue Entire Section-->
        <div id="lightbluesection" style="margin-bottom:-20px; padding-bottom:0px;">
          <div class="container">
            <div id="lowerblue" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p>{{ paragraph.field_section_4_text.value|raw }}</p>
            </div>
          </div>
        </div>

        <!--END SECTION 4-->
      </main>
    {% endblock %}
  </div>
{% endblock paragraph %}
