{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <main style="background:url('{{ paragraph.field_section_1_bg|file_url }}') top left no-repeat fixed; background-size: cover; padding-top:55px; margin-top:-20px;">
        <div class="container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div style="padding-bottom:30px;" id="maincopy" class="col-lg-12 col-md-12 col-sm-12 col-12">

              <h1 style="text-align: center;">{{ nodetitle }}</h1>
              <span class="largerfont">{{ paragraph.field_section_1_text.value|raw }}</span>
            </div>
          </div>
        </div>

        <!--START LIGHTBLUE-->
        <div id="lightblue">
          <div class="container">
            <div class="col-lg-5 col-12">
              <p>&nbsp;</p>
              {{ paragraph.field_section_2_text.value|raw }}
            </div>
            <div id="arrowcolumn" class="col-lg-2 col-md-2 col-sm-2 col-2 hidden-xs">
            </div>

            <div class="col-lg-5 col-12 banner-block--wrapper">
              {{ drupal_block('disability_claim_help_banner_block') }}
            </div>
          </div>
        </div>
        <!--END LIGHT BLUE-->

        <!--START DARK BLUE-->

        <div id="blue-grey2">
          <!--BLUE GREY-->
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>{{ paragraph.field_section_3_title.value|raw }}</h2>
            </div>
          </div>
          <!--BLUE GREY-->
        </div>
        <div id="grey2">
          <div style="background:url('{{ paragraph.field_section_3_bg|file_url }}') top left no-repeat fixed; background-size: cover;">
            <div class="container">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ paragraph.field_section_3_text.value|raw }}
              </div>
            </div>
          </div>
        </div>
        <!--END DARK BLUE-->

        <!--START SECTION 4-->

        <div id="red">
          <!--RED-->
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>{{ paragraph.field_section_4_title.value|raw }}</h2>
            </div>
          </div>
        </div>
        <div id="white">
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              {{ paragraph.field_section_4_text.value|raw }}
            </div>
          </div>
        </div>
        <!--END SECTION 4-->
        <!--START SECTION 5-->

        <div id="blue-grey">
          <!--BLUE GREY-->
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>{{ paragraph.field_section_5_title.value|raw }}</h2>
            </div>
          </div>
          <!--BLUE GREY-->
        </div>
        <div id="grey" style="margin-bottom:0px; padding-bottom:0px;">
          <div style="background:url('{{ paragraph.field_section_5_bg|file_url }}') top left no-repeat fixed; background-size: cover;">
            <div class="container">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ paragraph.field_section_5_text.value|raw }}
              </div>
            </div>
          </div>
        </div>
        <!--END SECTION 5-->
      </main>
    {% endblock %}
  </div>
{% endblock paragraph %}
